[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ramen/Online]
row=5
col=0

[/home/ramen/Pictures]
row=2
col=0

[/home/ramen/Videos]
row=1
col=0

[/home/ramen/Applications]
row=6
col=0

[/home/ramen/Code]
row=0
col=0

[/home/ramen/Music]
row=7
col=0

[/home/ramen/Downloads]
row=4
col=0

[/home/ramen/Documents]
row=3
col=0

